.main-content
  h1
    | Little Lemon
    small Two Brothers that love tradition and moderation
  .menu__wrapper
    div.menu__item--Traditional_entres(tabindex="1")
      .line
      .line
      .line 
    span Traditional entres Menu
  .menu__wrapper
    div.menu__item--Modern_entres(tabindex="2")
      .line
      .line
      .line
    span Modern entres Menu
  .menu__wrapper
    div.menu__item--Drinks_and_Spirits(tabindex="3")
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
    span Drinks and Spirits  Menu
  .menu__wrapper
    div.menu__item--Desert(tabindex="4")
      .circle
      .circle
      .circle
      .circle
      .circle
    span Deserts
  .menu__wrapper
    div.menu__item--Wines(tabindex="5")
      .circle
      .circle
      .circle
    span Wine Menu

footer
    a(href="https://twitter.com/kingmicahinf" target="_blank")
      i.icon-social-twitter.icons
    a(href="https://github.com/micahbry" target="_blank")
      i.icon-social-linkedin.icons 
    a(href="https://www.linkedin.com/in/micah-bryant-a0a78090/" target="_blank")
     i.icon-social-dribbble.icons